<%- include("partials/header") -%>
<h6 style="color:green";>Total Views:<%=views%></h6>
<h6 style="color:green;">Earnings:$<%=money%></h6>
<br>
<h6 style="color:red;">We pay $<%=cost%> per 1000 views</h6>
<h6 style="color:red;">We count 2 views per ip in 24 hours</h6>
<br>
<p>
  once you reach <span style="color:red;">5000 views</span> email <span style="color:blue;">admin@pixelpaste.net</span> with your <span style="color:red;">author name</span>
  to get paid. we will pay within 24 hours after you request payment.
  we can pay with <span style="color:red;">paypal, bitcoin, bnb, xrp.</span> to request any other payment
  method or for any query contact us on our email. You can also message me on Telegram My Telegram:<span style="color:blue;"><a href = "https://t.me/pixelpaste">@pixelpaste</a></span>
</p>
<%- include("partials/footer") -%>
