<%- include("partials/header") -%>

<h1>PixelPaste Made For Writers</h1>
<p>Pixelpaste is an online story writing platform designed for people who love to write and share.With pixelpaste you can easily write and publish your story online for the whole world to see. Its easy just write your story and publish then share the story with your family friends or collegues without any hassel.</p>

<br>
<h2> Featured Stories</h2>
<br>
<div class="postWall">
  <% posts.forEach(function(post){%>
      <a href="/stories/<%=post.url.replace(/\s/g, "-")%>"><h3><%=post.title%></h3>
     <p>
       <%=post.postCont.split(/\s+/).slice(0,50).join(" ") + " ..."%>
  </a>
     </p>
  <%})%>
</div>


<script type="text/javascript">

var page = 2;
var time = 0;

function t() {
  time = 0;
  page++
}
window.onscroll = function(ev) {

  if ((window.innerHeight + window.pageYOffset) >= document.body.offsetHeight) {
      if (time === 0) {
      time = 3
      getData()
      setTimeout(t, 3000)
    }
  }
};

function getData(){
  var ajax = new XMLHttpRequest();
  ajax.open("POST","https://pixelpaste.net/?page="+ page.toString(),true);

  ajax.onreadystatechange = function() {
    if (this.readyState == 4) {
      if (this.status == 200) {
        var data = JSON.parse(this.responseText);
        data.forEach(function(post){
          var postUrl = post.url.replace(/\s/g, "-");
          var postContent = post.postCont.split(/\s+/).slice(0,50).join(" ") + " ...";
          $(".postWall" ).append("<a href ='/stories/" + postUrl + "'>" + "<h3>" + post.title +"</h3>" + "<p>" + postContent + "</a></p>");
        });
      }
    }
  };
  var formData = new FormData();
  ajax.send(formData);
}

</script>
<%- include("partials/footer") -%>
