<%- include("partials/header") -%>
<script type="text/javascript">
function setCookie(cname, cvalue) {
    var d = new Date();
    d.setTime(d.getTime() + (24*60*60*1000));
    var expires = "expires="+d.toUTCString();
    document.cookie = cname + "=" + cvalue + "; " + expires+";path=/";
}
const value = ('; '+document.cookie).split(`; PixelPaste=`).pop().split(';')[0];
if (value) {
  console.log("cookie found")
} else {
setCookie("PixelPaste","Viewed")
var ajax = new XMLHttpRequest();
ajax.open("POST", "https://pixelpaste.net/views/?id=" + "<%=id%>", true);
ajax.onreadystatechange = function () {
        if (this.readyState == 4) {
            if (this.status == 200) {
console.log("done")
}}}
var formData = new FormData();
formData.append("id", "<%=id%>")
ajax.send(formData);
}
$('#content').ready(function(){
    $('.postt').each(function(){
        var str = $(this).html();
        var regex = /(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig;
        var replaced_text = str.replace(regex, "<a class='clk' href='$1' target='_blank'>$1</a>");
        $(this).html(replaced_text);
    });
});
</script>
<h6 style="color:green;">Scroll Down To Read Article 🥺</h6>

<script src='//tags.orquideassp.com/tag/12380'></script>
<script src='//tags.orquideassp.com/tag/12383'></script>
<input type="hidden" id="custId" name="custId" value="<%=id%>">
<h3><%= title%></h3>
<h6 class="text-secondary">Author:<%= author%></h6>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4658358621108372"
     crossorigin="anonymous"></script>
<!-- 01 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:320px;height:100px"
     data-ad-client="ca-pub-4658358621108372"
     data-ad-slot="3922252697"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<p class="postt" id="content">
<%= story %>
</p>
<br>
<a href="/contact-us"><h6 class="text-danger">Report Abuse</h6></a>

<div id="taboola-below-article-thumbnails"></div>
<script type="text/javascript">
  window._taboola = window._taboola || [];
  _taboola.push({
    mode: 'thumbnails-a',
    container: 'taboola-below-article-thumbnails',
    placement: 'Below Article Thumbnails',
    target_type: 'mix'
  });
</script>
<script type="text/javascript">
  window._taboola = window._taboola || [];
  _taboola.push({flush: true});
</script>


<%- include("partials/footer") -%>
